@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-brand-purple-50: #f5f3ff;
  --color-brand-purple-100: #ede9fe;
  --color-brand-purple-200: #ddd6fe;
  --color-brand-purple-300: #c4b5fd;
  --color-brand-purple-400: #a78bfa;
  --color-brand-purple-500: #8b5cf6;
  --color-brand-purple-600: #7c3aed;
  --color-brand-purple-700: #6d28d9;
  --color-brand-purple-800: #5b21b6;
  --color-brand-purple-900: #4c1d95;
  --color-brand-purple-950: #2e1065;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
